<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553722975667-7m7ra17nkdpl5l6kdhf4fcrkapba8ehi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553722975667-7m7ra17nkdpl5l6kdhf4fcrkapba8ehi</string>
	<key>API_KEY</key>
	<string>AIzaSyCtXqfhBk3wF1VcU3UyazWXhflUqFaaJTA</string>
	<key>GCM_SENDER_ID</key>
	<string>553722975667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.tu.student.6110680565.SpotifyClone</string>
	<key>PROJECT_ID</key>
	<string>spotifyclone-98f74</string>
	<key>STORAGE_BUCKET</key>
	<string>spotifyclone-98f74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553722975667:ios:4b80492df6e8fb3a9367c6</string>
</dict>
</plist>